:root {
  --main-font-family: 'Montserrat', sans-serif;
  --second-font-family: 'Roboto Slab', sans-serif;
  --body-font-size: 14px;
  --body-font-weight: 400;
  --body-color: #000;
  --body-bg-color: #fff;
  --body-line-height: 1.45;
  --body-link-color: #fff;
  --sidebar-link-color: #fff;
  --container-width: 1200px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

h1, h2 {
  margin: 0 0 15px 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--body-link-color);
}

body {
  font-family: var(--main-font-family);
  color: var(--body-color);
  background: var(--body-bg-color);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 20px;
}

.cv-wrapper {
  margin: 40px;
  box-shadow: 0 5px 50px rgb(0 0 0 / 10%);
}

.header,
.main {
  display: flex;
}

.header__col,
.main__col {
  padding: 40px;
}

.header__col--photo,
.main__col--sidebar {
  width: 30%;
  background-color: #000;
  color: #fff;
}

.header__col--person,
.main__col--content {
  width: 70%;
}

.person__title {
  font-size: 76px;
  font-weight: 900;
  font-family: var(--main-font-family);
  line-height: 86px;
}

.person__post {
  margin-top: 15px;
  padding-top: 20px;
  border-top: 5px solid #dadada;
  font-size: 20px;
  font-weight: 500;
  color: #888;
  letter-spacing: 4px;
  text-transform: capitalize;
}

.person__photo {
  display: flex;
  justify-content: center;
}

.person__photo > img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.main__col--sidebar a {
  color: var(--sidebar-link-color);
}

.contacts-list__item {
  padding-left: 50px;
  line-height: 40px;
}
